html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body, p{
    margin: 0;
    padding: 0;
}
.list-item {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}
.item {
    position: relative;
    width: 30%;
    height: 500px;
    margin: 24px;
    perspective: 800px; /*thay đổi góc nhìn của người dùng */
}
.item:hover > .avatar{
    transform: rotateY(-180deg);
}
.item > .avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(33, 100, 202);
    backface-visibility: hidden; /* có hiển thị mặt sau của một phần tử hay không. Sử dụng với rotateY(180deg) */
    transform: rotateY(0);
    transition: 0.2s;
}
.item:nth-child(1) > .avatar{
    background-image: url(./avatar/64906309_2342479302684491_1055689535289032704_n.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.item:nth-child(2) > .avatar{
    background-image: url(./avatar/277760255_3300074420278754_173494744664445642_n.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.item:nth-child(3) > .avatar{
    background-image: url(./avatar/116105822_1667879230029135_7412373691532867935_n.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.item:hover > .content{
    transform: rotateY(0);
}
.item > .content {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: black;
    font-size: 20px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: 0.5s;
}
.item > .content .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.item > .content p:nth-child(1) {
    margin-bottom: 8px;
}
.item > .content p {
    height: 24px;
}
